.product-block {
    background: linear-gradient(
        to bottom,
        $deep-navy 0%,
        $deep-navy 50%,
        $lighter-navy 50%,
        $lighter-navy 100%
    );

    @media (min-width: 768px) {
        background: $deep-navy;
        padding: 24px;
    }

    &__inner {
        @media (min-width: 768px) {
            display: flex;
            max-width: 1024px;
            margin: 0 auto;
        }

        @media (min-width: 1024px) {
            padding: 0 24px;
        }
    }

    &__info,
    &__cta-container {
        padding: 24px;
    }

    &__info {
        @media (min-width: 768px) {
            padding: 0 0 24px 0;
        }
    }

    &__cta-container {
        @media (min-width: 768px) {
            padding: 0;
        }
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 24px;

        @media (min-width: 768px) {
            margin: 0 20px 0 0;
            padding: 0;
        }
    }
}
