.quantity-block {
    // margin-bottom: 15px;
    &__btn {
        padding: 5px 11px;
        width: 35px;
        border: none;
        border-radius: 4px;
        // width: 100%;
        font-weight: bold;
        font-size: 20px;
        color: $white;
        background-color: $blue-grey;
        cursor: pointer;

        &:hover {
          background: darken($blue-grey, 10%);
        }

        &:first-of-type {
            background-color: $charcoal;

            &:hover {
              background-color: lighten($charcoal, 10%);
            }
        }
    }

    &__counter {
        margin: 0 10px;
    }
}