// Loop to create margin classes based on spacing unit value
@for $i from 0 through 10 {
    @each $shorthand, $side in $directions {
        .m#{$shorthand}-#{$i} {
            margin-#{$side}: #{$i * $spacing-unit}px;
        }

        .m-#{$i} {
            margin: #{$i * $spacing-unit}px;
        }
    }
}

// Loop to create font colour and background colour classes
@each $colour in $colours {
    .background-#{nth($colour, 1)} {
        background-color: nth($colour, 2);
    }

    .font-colour-#{nth($colour, 1)} {
        color: nth($colour, 2);
    }
}

.screen-reader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flex {
    display: flex;

    &-space-between {
        justify-content: space-between;
    }

    &-align-center {
        align-items: center;
    }
}