$deep-navy: #001029;
$lighter-navy: #001739;
$blue-grey: #496c8f;
$charcoal: #16243a;
$hot-pink: #ff3c9e;
$light-pink: #ff6eb7;
$white: #ffffff;

$spacing-unit: 8;

$directions: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left",
);

$colours: (
    "deep-navy": $deep-navy,
    "lighter-navy": $lighter-navy,
    "blue-grey": $blue-grey,
    "charcoal": $charcoal,
    "hot-pink": $hot-pink,
    "light-pink": $light-pink,
    "white": $white,
);
